/* codegamer css */
* {
  margin: 0;
  padding: 0;
  grid-gap: 1px;
  /*overflow: hidden;*/
}

html, body {
  height: 100%;
  width: 100%;
}

.pane-top {
  /*resize: horizontal;*/
  /*background-color: #ffffff;*/
  border-radius: 10px;
  height: 100%;
}

.pane-bottom {
  /*background-color: #000000;*/
  border-radius: 10px;
  height: 100%
}

#main-frame {
  margin: 0 1px;
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto 20px;
  /*background-color: #f5f5f5;*/
  overflow: hidden;
  display: grid;
}

#menubar {
  background-color: #020202;
  color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  border-radius: 0 0 10px 10px;
}

#menubar section {
  margin: auto;
}

#game-pane {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*background-color: #eeeeff;*/
}

#left-pane {
  /*resize: vertical;*/
  display: grid;
  grid-template-rows: 2fr 1fr;
  overflow: auto;
  /*background-color: #eeaa00;*/
}

#right-pane {
  display: grid;
  grid-template-rows: 2fr 2fr;
  /*background-color: #223344 /* consider this color for the console */*/
}

#game-canvas {
  background: url(../images/map6.jpg) center no-repeat;
  /*background-size: 100%;*/
   /*width: 100%;
   height: 100%;*/
   background-color: #0000ff;
   border-radius: 10px;
}

#game-console-container {
  height: 100%;
  overflow: auto;
  resize: none;
  color: #00ffff;
  background-color: #223344;
  border-radius: 10px;
}

#game-console {
  height:100%;
  font-family: monospace;
  font-size: 150%;
  /*margin-left: 40px;*/
  padding-top: 10px;
}

#status-bar{
  background-color: #000000;
  color: #00FF00;
  font-family: monospace;
  font-weight: normal;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

#assets-panel {
  background-color: #446688;
  height: 100%;
  border-radius: 10px;
}

#assets-panel ul {
  padding: 10px 20px;
  list-style-position: inside;
}

#assets-panel ul li.run {
  list-style-image: url(../images/run_token_32.png);
}

#assets-panel ul li.jump {
  list-style-image: url(../images/jump_token_32.png);
}

#assets-panel ul li.slide {
  list-style-image: url(../images/slide_token_32.png);
}

#assets-panel ul li.if_6 {
  list-style-image: url(../images/if_6_32.png);
}

#plan-panel {
  background: center no-repeat;
  background-size: 100%;
  background-color: #223344;
  height: 100%;
  border-radius: 10px;
}

#level-controls {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}


button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.info {
  /* TODO : provide better values */
  /*
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  */
}

.err {
  font-weight: bold;
  color: black;
  background-color: #FF0000;
}

.success {
  font-weight: bold;
  color: black;
  background-color: #00FF00;
}
